.login-container{
    display: flex;
    justify-content: flex-end
}
.nav-wrapper{
    background-color: #212121;
}
.btn{
    background-color: #b71c1c;
}
.btn:hover{
    background-color: #b71c1c;
}
.btn:focus{
    background-color: #b71c1c;
}
a:hover{
    color:#b71c1c;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
background-color:#b71c1c;
border: 2px solid #b71c1c;
}


.logo{
    font-size: 36px;
    font-family: 'Ruslan Display', cursive;
}
h1{
    font-family: 'Ruslan Display', cursive;
    text-align: center;
}
img{
    height: 200px;
    width: 200px;

}
.move{
    margin-left: 20px;
    margin-right:20px;
    font-family: 'EB Garamond', serif;
}
.content-size{
    font-size: 20px;
}
.main-image{
    margin-left: 712px;
}
.flex-container{
    display: flex;
    justify-content: space-between
}
.flex-right{

}


 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #b71c1c;
     box-shadow: 0 1px 0 0 #b71c1c;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   
      .input-field input[type=password]:focus {
     border-bottom: 1px solid #b71c1c;
     box-shadow: 0 1px 0 0 #b71c1c;
   }

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #b71c1c ;
    box-shadow: 0 1px 0 0 #b71c1c ;
}

.comment-div {
    margin-left: 5%;
    margin-top: 5px;
}

.subcomment-div {
    margin-left: 5%;
    margin-top: 5px;
}









